$black: #1C1D21;
$white: #EEEFF7;
$grey: #afafaf;
$gold: #ec9401;
$darkgold: darken($gold, 10%);
$lightgold: lighten($gold, 10%);
$darkgrey: #605F62;
$blue: #445878;

$phonegreen: #14d976;

///

$nav_height: 75px;

$body_background_color: $grey;
$body_background_image: none;

$headline-font: 'Libre Baskerville', serif;
$headline-weight: 700;

$body-font: 'Glegoo', serif;
$body-weight: 300;
$body-text-color: $black;

$widen-max: 1280px;

$section_padding: 75px 0;