#hero {
  width: 100%;
  height: 95%;
  height: calc(100% - 75px);
  height: calc(100vh - 75px);
  max-height: 800px;
  position: relative;
  padding: 0;
  background-color: #afafaf;
  background-image: url("../../images/hero.jpg");
  background-size: cover;
  background-position: right center; }

.hero-underlay {
  width: 98%;
  height: 96%;
  position: absolute;
  left: 1%;
  top: 2%;
  border: 5px solid #1C1D21;
  border-radius: 10px; }

.hero-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0; }

.hero-overlay-relative {
  width: 100%;
  height: 100%;
  padding-top: 75px;
  background-color: rgba(28, 29, 33, 0.15);
  position: relative; }

.hero-overlay-tagline {
  width: 50%;
  float: right;
  text-align: right;
  text-shadow: #afafaf 1px 0 15px; }
  .hero-overlay-tagline h1 {
    font-size: 2.5em;
    margin-bottom: 25px; }
  .hero-overlay-tagline i {
    font-size: 3.5em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); }
    .hero-overlay-tagline i:hover {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -khtml-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -ms-transition: all 0.3s;
      transition: all 0.3s; }

.hero-cta-container {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 50px; }

.hero-cta-cell {
  width: 30%;
  float: left;
  text-align: center;
  padding: 15px 0;
  border-top: 1px dotted #EEEFF7; }
  .hero-cta-cell h2,
  .hero-cta-cell h3 {
    font-family: "Glegoo", serif;
    font-size: 1em;
    color: #EEEFF7;
    text-shadow: #afafaf 1px 0 15px;
    font-weight: lighter; }

.hero-cta-button {
  margin: 0 5% 0 5%;
  border-top: 0;
  background-color: #ec9401;
  background-color: #ec9401;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#feb53b), to(#ec9401));
  background-image: -webkit-linear-gradient(top, #feb53b, #ec9401);
  background-image: -moz-linear-gradient(top, #feb53b, #ec9401);
  background-image: -ms-linear-gradient(top, #feb53b, #ec9401);
  background-image: -o-linear-gradient(top, #feb53b, #ec9401);
  background-image: linear-gradient(to bottom, #feb53b, #ec9401);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #afafaf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-shadow: #605F62 1px 0 15px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  color: #1C1D21;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #1C1D21; }
  .hero-cta-button:hover {
    background-color: #b97401;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fea209), to(#b97401));
    background-image: -webkit-linear-gradient(top, #fea209, #b97401);
    background-image: -moz-linear-gradient(top, #fea209, #b97401);
    background-image: -ms-linear-gradient(top, #fea209, #b97401);
    background-image: -o-linear-gradient(top, #fea209, #b97401);
    background-image: linear-gradient(to bottom, #fea209, #b97401);
    -khtml-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }

#landing-introduction {
  width: 100%;
  background-color: #1C1D21;
  color: #EEEFF7; }
  #landing-introduction h4 {
    margin-bottom: 50px; }

.landing-introduction-cell-container {
  width: 100%;
  margin-bottom: 50px; }
  .landing-introduction-cell-container div:first-of-type {
    margin-left: 0; }

.landing-introduction-cell {
  width: 30%;
  float: left;
  margin-left: 5%; }

.landing-introduction-headline {
  width: 100%;
  padding-bottom: 25px;
  margin-bottom: 24px;
  border-bottom: 1px dotted #afafaf; }

.landing-introduction-cta {
  width: 30%;
  margin-left: 35%;
  background-color: #ec9401;
  background-color: #ec9401;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#feb53b), to(#ec9401));
  background-image: -webkit-linear-gradient(top, #feb53b, #ec9401);
  background-image: -moz-linear-gradient(top, #feb53b, #ec9401);
  background-image: -ms-linear-gradient(top, #feb53b, #ec9401);
  background-image: -o-linear-gradient(top, #feb53b, #ec9401);
  background-image: linear-gradient(to bottom, #feb53b, #ec9401);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #afafaf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-shadow: #605F62 1px 0 15px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  color: #1C1D21;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #1C1D21; }
  .landing-introduction-cta:hover {
    background-color: #b97401;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fea209), to(#b97401));
    background-image: -webkit-linear-gradient(top, #fea209, #b97401);
    background-image: -moz-linear-gradient(top, #fea209, #b97401);
    background-image: -ms-linear-gradient(top, #fea209, #b97401);
    background-image: -o-linear-gradient(top, #fea209, #b97401);
    background-image: linear-gradient(to bottom, #fea209, #b97401);
    -khtml-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }

#landing-history {
  padding: 0;
  width: 100%;
  background-image: url("../../images/landing-history.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-position: right; }

.landing-history-overlay {
  width: 100%;
  padding: 75px 0;
  background-image: url("../../images/overlay-stripe.png"); }

.landing-history-content {
  width: 50%;
  float: left;
  position: relative;
  padding: 5px;
  background-color: #afafaf; }

.landing-history-content-outline {
  width: 100%;
  height: 100%;
  border: 5px solid #605F62;
  padding: 50px 60px; }
  .landing-history-content-outline h5 {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px dotted #605F62; }

.landing-history-content,
.landing-history-content-outline {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px; }

.landing-history-content-snipe-top {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 25px;
  top: -15px;
  display: table;
  background-color: #feac22;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.landing-history-content-snipe-top-inner {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
  font-size: .9em; }
  .landing-history-content-snipe-top-inner span {
    font-size: .8em;
    font-variant: small-caps; }

.landing-history-content-tail-left {
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 50px 0 0;
  border-color: #feac22 transparent transparent transparent;
  line-height: 0px;
  _border-color: #feac22 #000000 #000000 #000000;
  -webkit-transform: rotate(360deg); }

.landing-history-content-tail-right {
  position: absolute;
  left: 50px;
  bottom: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 15px 0;
  border-color: transparent #feac22 transparent transparent;
  line-height: 0px;
  _border-color: #000000 #feac22 #000000 #000000;
  -webkit-transform: rotate(360deg); }

.landing-history-snipe-bottom {
  width: 100px;
  height: 25px;
  position: absolute;
  left: 25px;
  bottom: -25px;
  background-color: #ec9401; }

.landing-history-snipe-bottom-inner {
  width: 100%;
  height: 100%;
  position: relative; }

.landing-history-snipe-bottom-shadow {
  width: 100%;
  height: 1px;
  margin-top: -1px;
  background-color: #afafaf;
  -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  box-shadow: 0 2px 10px 0 black; }

.landing-history-snipe-bottom-tail-left {
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 50px 0 0;
  border-color: #ec9401 transparent transparent transparent;
  line-height: 0px;
  _border-color: #ec9401 #000000 #000000 #000000;
  -webkit-transform: rotate(360deg); }

.landing-history-snipe-bottom-tail-right {
  position: absolute;
  left: 50px;
  bottom: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 15px 0;
  border-color: transparent #ec9401 transparent transparent;
  line-height: 0px;
  _border-color: #000000 #ec9401 #000000 #000000;
  -webkit-transform: rotate(360deg); }

#landing-services {
  width: 100%;
  background-image: url("../../images/landing-services.png");
  background-size: 50% auto;
  background-position: 25px 50px;
  background-repeat: no-repeat; }

.landing-services-intro {
  width: 50%;
  float: right;
  margin-bottom: 50px; }
  .landing-services-intro h6 {
    padding-bottom: 25px;
    margin-bottom: 24px;
    border-bottom: 1px dotted #605F62; }

.landing-services-container {
  width: 100%; }
  .landing-services-container div:first-of-type {
    margin-left: 0; }
  .landing-services-container div:nth-child(4) {
    margin-left: 0; }

.landing-services-cell-large {
  width: 49.5%;
  height: 400px;
  float: left;
  margin-left: 1%;
  margin-bottom: 10px;
  background-image: url("../../images/default-bg.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #1C1D21;
  filter: alpha(opacity=95);
  opacity: 0.95; }

.landing-services-cell-small {
  width: 24.25%;
  height: 225px;
  float: left;
  margin-left: 1%;
  margin-bottom: 10px;
  background-image: url("../../images/default-bg.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #1C1D21; }

.landing-services-cell-overlay {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(28, 29, 33, 0.25); }

.landing-services-cell-large,
.landing-services-cell-small,
.landing-services-cell-overlay {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.landing-services-cell-1 {
  background-image: url("../../images/landing-services-cell-1.jpg"); }

.landing-services-cell-2 {
  background-image: url("../../images/landing-services-cell-2.jpg"); }

.landing-services-cell-3 {
  background-image: url("../../images/landing-services-cell-3.jpg"); }

.landing-services-cell-4 {
  background-image: url("../../images/landing-services-cell-4.jpg"); }

.landing-services-cell-5 {
  background-image: url("../../images/landing-services-cell-5.jpg"); }

.landing-services-cell-6 {
  background-image: url("../../images/landing-services-cell-6.jpg"); }

.landing-services-snipe-title {
  position: absolute;
  left: 15px;
  top: 15px;
  background-color: rgba(238, 239, 247, 0.5);
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold; }

.landing-services-snipe-button {
  display: none;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #ec9401;
  padding: 5px;
  font-weight: bold;
  border: 3px solid #1C1D21;
  color: #1C1D21;
  text-align: center; }

.landing-services-snipe-title-large {
  top: auto;
  bottom: 15px; }

.landing-services-snipe-button-large {
  top: auto;
  bottom: 15px; }

.landing-services-cell-overlay:hover {
  background-color: rgba(28, 29, 33, 0.5);
  -khtml-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }
  .landing-services-cell-overlay:hover .landing-services-snipe-button {
    display: inline; }

.landing-services-button-services,
.landing-services-button-booking {
  width: 49.5%;
  height: 60px;
  display: table;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #1C1D21;
  font-weight: bold; }

.landing-services-button-services {
  float: left;
  background-color: #1C1D21;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3f414a), to(#1C1D21));
  background-image: -webkit-linear-gradient(top, #3f414a, #1C1D21);
  background-image: -moz-linear-gradient(top, #3f414a, #1C1D21);
  background-image: -ms-linear-gradient(top, #3f414a, #1C1D21);
  background-image: -o-linear-gradient(top, #3f414a, #1C1D21);
  background-image: linear-gradient(to bottom, #3f414a, #1C1D21);
  color: #EEEFF7; }
  .landing-services-button-services:hover {
    background-color: #101113;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#33353d), to(#101113));
    background-image: -webkit-linear-gradient(top, #33353d, #101113);
    background-image: -moz-linear-gradient(top, #33353d, #101113);
    background-image: -ms-linear-gradient(top, #33353d, #101113);
    background-image: -o-linear-gradient(top, #33353d, #101113);
    background-image: linear-gradient(to bottom, #33353d, #101113); }

.landing-services-button-booking {
  float: right;
  background-color: #ec9401;
  background-color: #ec9401;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#feb53b), to(#ec9401));
  background-image: -webkit-linear-gradient(top, #feb53b, #ec9401);
  background-image: -moz-linear-gradient(top, #feb53b, #ec9401);
  background-image: -ms-linear-gradient(top, #feb53b, #ec9401);
  background-image: -o-linear-gradient(top, #feb53b, #ec9401);
  background-image: linear-gradient(to bottom, #feb53b, #ec9401);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #afafaf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-shadow: #605F62 1px 0 15px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  color: #1C1D21;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #1C1D21; }
  .landing-services-button-booking:hover {
    background-color: #b97401;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fea209), to(#b97401));
    background-image: -webkit-linear-gradient(top, #fea209, #b97401);
    background-image: -moz-linear-gradient(top, #fea209, #b97401);
    background-image: -ms-linear-gradient(top, #fea209, #b97401);
    background-image: -o-linear-gradient(top, #fea209, #b97401);
    background-image: linear-gradient(to bottom, #fea209, #b97401);
    -khtml-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }

.landing-services-button-inner {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle; }

.subpage-headline {
  display: inline-block;
  font-size: 1.5em;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  padding: 0;
  margin: 0 0 50px 0; }

#services-page .services-container {
  width: 100%;
  margin-bottom: 100px; }
#services-page .services-container-left,
#services-page .services-container-right {
  width: 47%; }
#services-page .services-container-left {
  float: left; }
#services-page .services-container-right {
  float: right; }
#services-page .services-hero {
  width: 100%;
  height: 200px;
  background-color: #605F62;
  display: table;
  margin-bottom: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-image: url("../../images/default-bg.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #1C1D21; }
#services-page .services-hero-1 {
  background-image: url("../../images/services-hero-1.jpg"); }
#services-page .services-hero-2 {
  background-image: url("../../images/services-hero-2.jpg"); }
#services-page .services-hero-3 {
  background-image: url("../../images/services-hero-3.jpg"); }
#services-page .services-hero-4 {
  background-image: url("../../images/services-hero-4.jpg"); }
#services-page .services-hero-5 {
  background-image: url("../../images/services-hero-5.jpg"); }
#services-page .services-hero-6 {
  background-image: url("../../images/services-hero-6.jpg"); }
#services-page .services-hero-7 {
  background-image: url("../../images/services-hero-7.jpg"); }
#services-page .services-hero-8 {
  background-image: url("../../images/services-hero-8.jpg"); }
#services-page .services-hero-9 {
  background-image: url("../../images/services-hero-9.jpg"); }
#services-page .services-hero-10 {
  background-image: url("../../images/services-hero-10.jpg"); }
#services-page .services-hero-inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 0 25px;
  background-image: url("../../images/overlay-stripe.png");
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #EEEFF7;
  text-shadow: #1C1D21 1px 0 15px;
  font-size: 1.5em;
  background-color: rgba(28, 29, 33, 0.65); }
#services-page .services-hero-inner-button {
  width: 50%;
  position: absolute;
  left: 25%;
  bottom: 10px;
  background-color: #ec9401;
  background-color: #ec9401;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#feb53b), to(#ec9401));
  background-image: -webkit-linear-gradient(top, #feb53b, #ec9401);
  background-image: -moz-linear-gradient(top, #feb53b, #ec9401);
  background-image: -ms-linear-gradient(top, #feb53b, #ec9401);
  background-image: -o-linear-gradient(top, #feb53b, #ec9401);
  background-image: linear-gradient(to bottom, #feb53b, #ec9401);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #afafaf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-shadow: #605F62 1px 0 15px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  color: #1C1D21;
  padding: 8px 0;
  font-size: .5em;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #1C1D21; }
  #services-page .services-hero-inner-button:hover {
    background-color: #b97401;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fea209), to(#b97401));
    background-image: -webkit-linear-gradient(top, #fea209, #b97401);
    background-image: -moz-linear-gradient(top, #fea209, #b97401);
    background-image: -ms-linear-gradient(top, #fea209, #b97401);
    background-image: -o-linear-gradient(top, #fea209, #b97401);
    background-image: linear-gradient(to bottom, #fea209, #b97401);
    -khtml-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }

#fleet-page {
  padding-bottom: 0; }
  #fleet-page .fleet-large-container {
    width: 100%;
    margin-bottom: 75px;
    padding-bottom: 49px;
    border-bottom: 1px dotted #605F62; }
  #fleet-page .fleet-large-left {
    width: 47%;
    float: left; }
    #fleet-page .fleet-large-left img {
      width: 100%;
      height: auto;
      z-index: -1; }
  #fleet-page .fleet-large-right {
    width: 50%;
    float: right; }
  #fleet-page .fleet-large-headline {
    display: inline-block;
    font-size: 1.5em;
    margin-bottom: 25px;
    font-weight: bold; }
  #fleet-page .fleet-large-pax-container {
    width: 60%;
    margin-left: 20%;
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #605F62;
    font-size: .9em; }
  #fleet-page .fleet-large-bottom-container {
    width: 100%;
    margin-top: 25px; }
  #fleet-page .fleet-large-bottom-left {
    width: 50%;
    float: left; }
  #fleet-page .fleet-large-bottom-morepics-container {
    width: 60%;
    height: 50px;
    margin-left: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #fleet-page .fleet-large-bottom-morepics-container img {
      width: auto;
      height: 50px;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 #1C1D21;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
  #fleet-page .fleet-large-bottom-right {
    width: 50%;
    float: left; }
  #fleet-page .fleet-large-book-button {
    width: 60%;
    height: 50px;
    margin-left: 20%;
    display: table;
    background-color: #ec9401;
    background-color: #ec9401;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#feb53b), to(#ec9401));
    background-image: -webkit-linear-gradient(top, #feb53b, #ec9401);
    background-image: -moz-linear-gradient(top, #feb53b, #ec9401);
    background-image: -ms-linear-gradient(top, #feb53b, #ec9401);
    background-image: -o-linear-gradient(top, #feb53b, #ec9401);
    background-image: linear-gradient(to bottom, #feb53b, #ec9401);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 #afafaf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-shadow: #605F62 1px 0 15px;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    color: #1C1D21;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 #1C1D21; }
    #fleet-page .fleet-large-book-button:hover {
      background-color: #b97401;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fea209), to(#b97401));
      background-image: -webkit-linear-gradient(top, #fea209, #b97401);
      background-image: -moz-linear-gradient(top, #fea209, #b97401);
      background-image: -ms-linear-gradient(top, #fea209, #b97401);
      background-image: -o-linear-gradient(top, #fea209, #b97401);
      background-image: linear-gradient(to bottom, #fea209, #b97401);
      -khtml-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -ms-transition: all 0.3s;
      transition: all 0.3s; }
  #fleet-page .fleet-large-book-button-inner {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle; }
  #fleet-page .fleet-small-container {
    width: 47%;
    float: left;
    margin-bottom: 75px;
    text-align: center; }
  #fleet-page .fleet-small-container-alternate {
    float: right; }
  #fleet-page .fleet-small-hero {
    width: 100%;
    height: 175px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    margin-top: 25px; }
  #fleet-page .fleet-small-hero-1 {
    background-image: url("../../images/fleet-small-hero-1.png"); }
  #fleet-page .fleet-small-hero-2 {
    background-image: url("../../images/fleet-small-hero-2.png"); }
  #fleet-page .fleet-small-hero-3 {
    background-image: url("../../images/fleet-small-hero-3.png"); }
  #fleet-page .fleet-small-hero-4 {
    background-image: url("../../images/fleet-small-hero-4.png"); }
  #fleet-page .fleet-small-hero-5 {
    background-image: url("../../images/fleet-small-hero-5.png"); }
  #fleet-page .fleet-small-pax-container {
    width: 60%;
    margin-left: 20%;
    margin-top: 25px;
    margin-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #605F62;
    font-size: .9em; }
  #fleet-page .fleet-small-book-button {
    width: 60%;
    margin-left: 20%;
    display: table;
    background-color: #ec9401;
    background-color: #ec9401;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#feb53b), to(#ec9401));
    background-image: -webkit-linear-gradient(top, #feb53b, #ec9401);
    background-image: -moz-linear-gradient(top, #feb53b, #ec9401);
    background-image: -ms-linear-gradient(top, #feb53b, #ec9401);
    background-image: -o-linear-gradient(top, #feb53b, #ec9401);
    background-image: linear-gradient(to bottom, #feb53b, #ec9401);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 #afafaf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-shadow: #605F62 1px 0 15px;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    color: #1C1D21;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 #1C1D21; }
    #fleet-page .fleet-small-book-button:hover {
      background-color: #b97401;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fea209), to(#b97401));
      background-image: -webkit-linear-gradient(top, #fea209, #b97401);
      background-image: -moz-linear-gradient(top, #fea209, #b97401);
      background-image: -ms-linear-gradient(top, #fea209, #b97401);
      background-image: -o-linear-gradient(top, #fea209, #b97401);
      background-image: linear-gradient(to bottom, #fea209, #b97401);
      -khtml-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -ms-transition: all 0.3s;
      transition: all 0.3s; }

#booking-page {
  min-height: 700px; }
  #booking-page .booking-loading {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 175px;
    left: 0;
    text-align: center;
    font-weight: bolder;
    z-index: -1; }
    #booking-page .booking-loading span {
      display: inline-block;
      color: #605F62;
      font-size: .75em;
      margin-top: 10px;
      font-variant: small-caps; }
    #booking-page .booking-loading i {
      font-size: 3em;
      margin-bottom: 25px; }

#coaches-page .coach-cell-container {
  width: 100%;
  padding-bottom: 49px;
  margin-bottom: 50px;
  border-bottom: 1px dotted #605F62; }
  #coaches-page .coach-cell-container div:first-of-type {
    margin-left: 0; }
#coaches-page .coach-cell {
  width: 30%;
  float: left;
  margin-left: 5%; }
#coaches-page .coach-cell-hero {
  width: 100%;
  height: 200px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; }
#coaches-page .coach-cell-hero-1 {
  background-image: url("../../images/coach-cell-hero-1.png"); }
#coaches-page .coach-cell-hero-2 {
  background-image: url("../../images/coach-cell-hero-2.png"); }
#coaches-page .coach-cell-hero-3 {
  background-image: url("../../images/coach-cell-hero-3.png"); }
#coaches-page .coach-cell-pax {
  width: 100%;
  margin-top: 25px;
  text-align: center;
  border: 1px solid #605F62;
  padding: 15px; }
#coaches-page .coach-info-left {
  width: 65%;
  float: left; }
#coaches-page .coach-info-right {
  width: 30%;
  float: right; }
#coaches-page .coach-booking-button {
  width: 100%;
  background-color: #ec9401;
  background-color: #ec9401;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#feb53b), to(#ec9401));
  background-image: -webkit-linear-gradient(top, #feb53b, #ec9401);
  background-image: -moz-linear-gradient(top, #feb53b, #ec9401);
  background-image: -ms-linear-gradient(top, #feb53b, #ec9401);
  background-image: -o-linear-gradient(top, #feb53b, #ec9401);
  background-image: linear-gradient(to bottom, #feb53b, #ec9401);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #afafaf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-shadow: #605F62 1px 0 15px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  color: #1C1D21;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #1C1D21; }
  #coaches-page .coach-booking-button:hover {
    background-color: #b97401;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fea209), to(#b97401));
    background-image: -webkit-linear-gradient(top, #fea209, #b97401);
    background-image: -moz-linear-gradient(top, #fea209, #b97401);
    background-image: -ms-linear-gradient(top, #fea209, #b97401);
    background-image: -o-linear-gradient(top, #fea209, #b97401);
    background-image: linear-gradient(to bottom, #fea209, #b97401);
    -khtml-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }

#contact-page .contact-left {
  width: 40%;
  float: left; }
  #contact-page .contact-left p {
    margin-bottom: 45px; }
  #contact-page .contact-left .blankit {
    color: #afafaf; }
  #contact-page .contact-left .boldit {
    font-weight: bolder; }
  #contact-page .contact-left .bigtext {
    font-size: 1.75em;
    font-weight: bold;
    color: #000; }
    #contact-page .contact-left .bigtext .greyout {
      color: #605F62; }
  #contact-page .contact-left .marleft {
    margin-left: 20px; }
  #contact-page .contact-left .onright {
    color: #605F62;
    margin-right: 5px; }
#contact-page .contact-right {
  width: 60%;
  float: right;
  background-color: #605F62;
  padding: 50px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  #contact-page .contact-right .snipe {
    background-color: #1C1D21;
    color: #EEEFF7;
    position: absolute;
    left: -5px;
    top: -3px;
    padding: 3px 5px;
    line-height: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  #contact-page .contact-right input[type="text"] {
    width: 100%;
    font-size: 1em;
    color: #1C1D21;
    padding: 10px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    margin-bottom: 25px; }
  #contact-page .contact-right textarea {
    width: 100%;
    height: 125px;
    padding: 10px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    resize: none;
    font-size: 1em; }
  #contact-page .contact-right input[type="submit"] {
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;
    background-color: #1C1D21;
    color: #EEEFF7;
    padding: 5px;
    border: 0;
    outline: 0;
    font-size: 1em;
    font-family: "Glegoo", serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 #1C1D21; }
    #contact-page .contact-right input[type="submit"]:hover {
      background-color: #28292f;
      -khtml-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -ms-transition: all 0.3s;
      transition: all 0.3s; }
#contact-page .seperator {
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
  border-bottom: 1px dotted #605F62; }
#contact-page #map-canvas {
  width: 60%;
  height: 250px;
  float: right;
  background-color: #605F62;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

#errorpage .homebutton {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #605F62;
  color: #605F62;
  margin-top: 50px;
  margin-bottom: 15px; }
  #errorpage .homebutton:hover {
    background-color: #605F62;
    color: #EEEFF7;
    -khtml-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }
#errorpage .bookbutton {
  display: inline-block;
  background-color: #ec9401;
  background-color: #ec9401;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#feb53b), to(#ec9401));
  background-image: -webkit-linear-gradient(top, #feb53b, #ec9401);
  background-image: -moz-linear-gradient(top, #feb53b, #ec9401);
  background-image: -ms-linear-gradient(top, #feb53b, #ec9401);
  background-image: -o-linear-gradient(top, #feb53b, #ec9401);
  background-image: linear-gradient(to bottom, #feb53b, #ec9401);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 #afafaf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-shadow: #605F62 1px 0 15px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  color: #1C1D21;
  padding-left: 50px;
  padding-right: 50px; }
  #errorpage .bookbutton:hover {
    background-color: #b97401;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fea209), to(#b97401));
    background-image: -webkit-linear-gradient(top, #fea209, #b97401);
    background-image: -moz-linear-gradient(top, #fea209, #b97401);
    background-image: -ms-linear-gradient(top, #fea209, #b97401);
    background-image: -o-linear-gradient(top, #fea209, #b97401);
    background-image: linear-gradient(to bottom, #fea209, #b97401);
    -khtml-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }

footer {
  padding: 50px 0 0 0;
  background-color: #1C1D21;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3f414a), to(#1C1D21));
  background-image: -webkit-linear-gradient(top, #3f414a, #1C1D21);
  background-image: -moz-linear-gradient(top, #3f414a, #1C1D21);
  background-image: -ms-linear-gradient(top, #3f414a, #1C1D21);
  background-image: -o-linear-gradient(top, #3f414a, #1C1D21);
  background-image: linear-gradient(to bottom, #3f414a, #1C1D21);
  color: #afafaf;
  text-shadow: #1C1D21 1px 0 15px; }

.footer-cell-container {
  width: 100%; }
  .footer-cell-container div:first-of-type {
    margin-left: 0; }

.footer-cell {
  width: 22%;
  float: left;
  margin-left: 4%;
  text-transform: lowercase;
  font-size: .65em; }
  .footer-cell .footer-headline {
    display: inline-block;
    width: 100%;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px dotted #605F62;
    font-weight: bold;
    text-transform: uppercase; }
  .footer-cell .footer-social-link-container {
    width: 100%;
    height: 25px; }
    .footer-cell .footer-social-link-container i {
      color: #605F62;
      font-size: .5em;
      vertical-align: text-top;
      margin-top: 4px; }
  .footer-cell .footer-social-icon-container {
    width: 75%;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .footer-cell .footer-social-icon-container i {
      font-size: 1em; }
  .footer-cell .footer-sitemap-container {
    width: 100%; }
    .footer-cell .footer-sitemap-container .footer-sitemap-cell {
      width: 50%;
      height: 25px;
      float: left;
      padding-right: 15px; }
  .footer-cell .footer-contact-container {
    width: 100%; }
    .footer-cell .footer-contact-container .footer-contact-cell {
      height: 25px;
      float: left; }
      .footer-cell .footer-contact-container .footer-contact-cell i {
        font-size: .75em; }
      .footer-cell .footer-contact-container .footer-contact-cell span {
        font-variant: small-caps;
        color: #605F62; }
    .footer-cell .footer-contact-container .left {
      width: 10%; }
    .footer-cell .footer-contact-container .right {
      width: 90%; }
  .footer-cell .footer-address {
    width: 100%;
    height: 25px; }

#map-canvas {
  width: 100%;
  height: 75px; }

.grave {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background-color: #1C1D21;
  color: #605F62;
  text-align: center;
  font-size: .5em; }

/*# sourceMappingURL=development.css.map */
